body {
    background-image: url("berries.jpg");
    background-size: cover;
    background-color: rgb(226, 237, 255);
    text-align: center
 }
 header {
    background-color: rgb(226, 237, 255, 0.75);
    text-align: center;
    padding: 5px;
 }
 ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 68, 122);
    width: 50vw;
    text-align: center;
    font-family: verdana;
    font-size: 13pt;
 }
 
 li {
    float: left;
    margin: auto;
    width: 25vw;
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 
 li a:hover {
    background-color: rgb(121, 149, 194);
    color: black;
 }
 #famPic {
    float: right;
    height: 200px;
 }
 img {
    height: 150px;
    padding: 5px;
 }
 .desc {
    width: 25vw;
 }