body {
    background-image: url("berries.jpg");
    background-size: cover;
    text-align: center
 }
 header {
    background-color: rgb(226, 237, 255, 0.75);
    text-align: center;
    padding: 5px;
 }
 table {
    margin: auto;
    width: 20%;
    text-align: center;
 }
 img {
    height: 150px;
    padding: 5px;
 }
 h2 {
    text-align: center;
 }
 ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 68, 122);
    width: 50vw;
    text-align: center;
    font-family: verdana;
    font-size: 13pt;
 }
 
 li {
    float: left;
    margin: auto;
    width: 25vw;
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 
 li a:hover {
    background-color: rgb(121, 149, 194);
    color: black;
 }
 div {
   margin: auto;
   background-color: rgb(226, 237, 255, 0.75);
   font-family: verdana;
   width: 40vw;
   border-radius: 5px;
   padding: 10px;
   margin: auto;
 }